@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

body {
     background:  white;
     margin: 0;
     font-family: 'Space Mono';
}

.primary-msg {
    h2{
    font-family: 'Inconsolata';
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 25.18px;
    top: 20px;
    padding-left: 24px;
}
}

section {
    padding: 1em 4em;
}

.hero {
    text-align: left;
}

.hero-img {
    width: 70%;
    margin-top: 3em;
}

.right-col {
    h1 {
        font-size: 48px;
        font-weight: 700;
        font-style: normal;
        line-height: 71.09px;
    }
    
    .sub-head {
        font-size: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 26.66px;
    }
    .hero-cta {
        padding-top: 66px;
   
    .back-to-homepage-cta {
        background: gray;
        color: white;
        text-decoration: none;
        padding: 24px 43px;
        font-size: 14px;
        font-weight: 700;
        line-height: 20.73px;
        display: inline-block;
        
    }
}
}

@media only screen and (min-width:1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }
    section {
        padding: 8em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;
        
        img{
            height: 50%;
            width: 50%;
            margin: -.1em 0;
        }
        .right-col {
            margin: 0 1em 0 1em;
            h1 {
                width: 10em;
            }
            .sub-head {
                width: 70%;
            }

            .hero-cta {
                margin: 3em 0;
            }
            
           
        }
    }


}